body {
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

#calculator {
    min-width: 400px;
    max-width: 400px;
   /* height:600px;*/
   border: 2px solid black;
   display:flex;
   flex-direction: column;
   font-weight: bold;
   border-radius: 10px;
   background-color: rgb(250, 250, 143);

}

#display {
    height:80px;
    padding:5px;
    border: 2px solid black;
    margin:10px;
    background-color: white;
}

#first-row {
    height:35px;
    font-size: 18px;
    text-align: right;
}

#second-row {
    height:45px;
    font-size: 30px;
    text-align: right;
}

#clear-delete {
    display:flex;
    /*justify-content: space-around;*/
}

#clear-delete button {
    flex-grow: 1;
    padding:10px;
    margin:10px;
    background-color: rgb(161, 68, 68);
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
}

#small-buttons {
    display:flex;
    flex-wrap: wrap;
   
}

#small-buttons button {
    padding:10px;
    margin:10px;
    min-width: 80px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
}

.operator {
    background-color: rgb(150, 111, 61);
}

.number {
    background-color: rgb(197, 162, 116);
}